<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysj.sys.mapper.ExaminteacherMapper">
    
    <select id="getEducationByExaminTeaId" parameterType="java.lang.String" resultType="java.lang.String">
            SELECT s2.edu_name FROM sys_examinteacher_education s1
            JOIN sys_education s2 ON s1.edu_id=s2.edu_id
            AND s1.examintea_id=#{id}
    </select>

   <insert id="insertIntoExaminteacherEducation">
           INSERT INTO sys_examinteacher_education(examintea_id,edu_id)
           VALUES(#{examteaId},#{id})
   </insert>

    <select id="getExamincationIdByExaminId" resultType="java.lang.Integer">
         SELECT s1.edu_id FROM sys_examinteacher_education s1
         WHERE s1.examintea_id=#{id}
    </select>

    <update id="updateExamincationEducation">
        UPDATE sys_examinteacher_education SET edu_id=#{eduId}
        WHERE examintea_id=#{examId}
    </update>
    
    <delete id="deleteExamincationEducation">
        DELETE s1.* FROM sys_examinteacher_education s1
        WHERE s1.examintea_id = #{examId}
    </delete>

    <delete id="deleteExamincationEducationBatch">
        DELETE s1.* FROM sys_examinteacher_education s1
        WHERE s1.examintea_id IN
        <foreach collection="examIds" item="id" index="no" open="(" separator="," close=")">
           #{id}
        </foreach>
    </delete>
    
    <select id="getExaminteachersIdByEducationId" resultType="java.lang.String">
          SELECT s1.examintea_id
          from sys_examinteacher_education s1
          WHERE s1.edu_id =#{id} ORDER BY examintea_id
    </select>
    
    <select id="getCollegeIdAndNameByExaminId" resultType="com.bysj.sys.entity.College">
        SELECT s3.coll_id,s3.coll_name  FROM sys_examinteacher_education s1 JOIN sys_education s2 JOIN sys_college s3
        ON s1.edu_id = s2.edu_id AND s2.coll_id=s3.coll_id AND s1.examintea_id=#{id}
    </select>

    <select id="getExaminTeacherData" resultType="com.bysj.sys.entity.User_Examinteacher">
        SELECT s1.*,s3.edu_name AS examintea_resEducation,s4.coll_name AS teaCollege FROM sys_examinteacher s1
        JOIN sys_examinteacher_education s2 JOIN sys_education s3 JOIN sys_college s4
        ON s1.examintea_id=s2.examintea_id AND s2.edu_id=s3.edu_id  AND s3.coll_id=s4.coll_id
        AND s1.examintea_id=#{id}
    </select>

    <insert id="importUserData" parameterType="com.bysj.sys.entity.User_Teacher">
        insert into sys_user(user_id, password, usertype, status) values
        <foreach collection ="list" item="l" index= "index" separator =",">
            (#{l.examinteaId}, #{l.password}, #{l.usertype}, #{l.status})
        </foreach>
    </insert>

    <insert id="importExminTeacherData" parameterType="com.bysj.sys.entity.User_Teacher">
        insert into sys_examinteacher(examintea_id,examintea_name,examintea_education,examintea_telphone,examintea_email,examintea_school,examintea_update_time)  values
        <foreach collection ="list" item="l" index= "index" separator =",">
            (#{l.examinteaId}, #{l.examinteaName}, #{l.examinteaEducation}, #{l.examinteaTelphone},#{l.examinteaEmail},#{l.examinteaSchool},DEFAULT)
        </foreach>
    </insert>
    
    <insert id="importExminTeacherCollData" parameterType="com.bysj.sys.entity.User_Teacher">
        insert into sys_teacher_college(tea_id,coll_id)  values
        <foreach collection ="list" item="l" index= "index" separator =",">
            (#{l.examinteaId}, #{l.teaCollId})
        </foreach>
    </insert>
    
    <insert id="importExminTeacherEduData" parameterType="com.bysj.sys.entity.User_Teacher">
        insert into sys_examinteacher_education(examintea_id,edu_id)  values
        <foreach collection ="list" item="l" index= "index" separator =",">
            (#{l.examinteaId}, #{l.examinteaResEducationId})
        </foreach>
    </insert>
</mapper>
